@charset "utf-8";

$gColor: #1c1c1c;
$headMainColor: #0D6AB5;
$headSubColor: #D14336;
$breakPoints: (
   xs: "screen and (max-width: 376px)",
   s: "screen and (max-width: 414px)",
   m-s: "screen and (max-width: 600px)",
   m: "screen and (max-width: 768px)",
   l: "screen and (max-width: 1024px)",
)!default;;

// ----- mixin -----
// メディアクエリ
@mixin media($breakPoint) {
  @media #{map-get($breakPoints, $breakPoint)} {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----- ベース ----- */
html {
  font-size: 62.5%;
  scroll-padding: 75px;
}

body {
  font-size: 1.6rem;
  font-family: "Objective", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::before,
::after {
  box-sizing: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

img {
  vertical-align: top;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  vertical-align: middle;
  text-align: inherit;
  font: inherit;
  -webkit-appearance: none;
  appearance: none;
}


ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/**************** 以下、ハンバーガーボタンのスタイリング ****************/
.btn {
  /* 最前面に */
  z-index: 9998;
  /* ボタンの配置位置  */
  position: fixed;
  top: 40px;
  right: 40px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  /* ボタンの大きさ  */
  width: 40px;
  height: 40px;
  cursor: pointer;
}
/***** 真ん中のバーガー線 *****/
.btn-line {
  display: block;
  /* バーガー線の位置基準として設定 */
  position: relative;
  /* 線の長さと高さ */
  width: 100%;
  height: 3px;
  /* バーガー線の色 */
  background-color: transparent;
  transition: .2s;
}
/***** 上下のバーガー線 *****/
.btn-line::before , .btn-line::after {
  content: "";
  /* 基準線と同じ大きさと色 */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $gColor;
  transition: .5s;
}
.btn-line::before {
  /* 上の線の位置 */
  border-radius: 4rem;
  transform: translateY(-6px);
}
.btn-line::after {
  /* 下の線の位置 */
  border-radius: 4rem;
  transform: translateY(6px);
}
/***** メニューオープン時 *****/
.btn-line.js-open {
  /* 真ん中の線を透明に */
  background-color: transparent;
}
.btn-line.js-open::before , .btn-line.js-open::after {
  content: "";
  background-color: #fff;
  transition: .2s;
}
.btn-line.js-open::before {
  /* 上の線を傾ける */
  border-radius: 4rem;
  transform: rotate(25deg);
}
.btn-line.js-open::after {
  /* 上の線を傾ける */
  border-radius: 4rem;
  transform: rotate(-25deg);
}
/**************** ここまで、ハンバーガーボタンのスタイリング ****************/
/**************** 以下、メニューのスタイリング ****************/
.menu {
  z-index: 9997;
  /* メニューを縦に */
  display: flex;
  align-items: center;
  position: fixed;
  /* メニューの位置マイナス指定で画面外に */
  top: 0;
  left: -70%;
  width: 30%;
  height: 100%;
  background-color: #fff;
  color: $gColor;
  transition: .5s;
  @include media(m) {
    width: 70%;
    height: 100%;
  }
}
.menu-list {
  /* メニューテキスト位置をリスト内中心に */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  cursor: pointer;
}

/***** メニューオープン時位置0にして画面内に *****/
.menu.js-open {
  position: absolute;
  left: 0;
}

/***** メニューオープン時グレーのカバー表示 *****/
.cover {
  z-index: 9996;
  visibility:hidden;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: 0.5s all linear;
}

.cover.js-filter {
  visibility:visible;
  position: fixed;
  z-index: 9996;
  top:0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  opacity: 0.8;
  transition: 0.5s all linear;
}

/**************** 以下image ****************/
.page1-left {
  width: 35%;
  margin-right: 10rem;
  > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  @include media(l) {
    margin-right: 0;
  }
  @include media(s) {
    display: none;
  }
}

.top {
  display: flex;
  justify-content: space-between;
}

.page1-right {
  display: table;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 140rem;
  width: 100%;
}

.page1-right-table-cell {
  display: table-cell;
  vertical-align: middle;
  @include media(l) {
  vertical-align: top;
}
}

.page1-right-desc {
  margin-bottom: 10rem;
  padding-left: 1rem;
  > p {
    font-weight: bold;
    font-size: 2rem;
  }
}

.page1-right-title {
  margin-bottom: 10rem;
  > h1 {
    text-align: left;
    font-weight: bold;
    font-size: 16rem;
    line-height: 1;
    white-space: pre;
    @include media(s) {
      font-size: 8rem;
    }
  }
  @include media(s) {
    margin-bottom: 5rem;
  }
}
.page1-right-sub-title-box {
  display: flex;
}
.page1-right-sub-title {
  margin: 0 2rem;
  max-width: 600px;
  width: 100%;
  height: 200px;
}
.profile-text {
  opacity: 0;
  font-size: 2.5rem;
  font-weight: bold;
  @include media(s) {
    font-size: 1.6rem;
  }
  .typing-text-box {
    display: block;
  }
}

.about-text {
  opacity: 0;
  font-size: 2.5rem;
  font-weight: bold;
  @include media(s) {
    font-size: 1.6rem;
  }
  .typing-text-box {
    display: block;
  }
}

.desc-title {
  padding: 3rem 0;
  font-weight: 700;
  font-size: 1.8rem;
  color: #989898;
  @include media(s) {
    font-size: 1.4rem;
  }
}

.profile-text.js-show {
  opacity: 1;
}
.about-text.js-shows {
  opacity: 1;
}

.page1-right-bottom {
  position: fixed;
  bottom: 2rem;
  right: 0;
  width: 100%;
  height: 3rem;
  @include media(s) {
    width: 100%;
  }
}

.page1-right-bottom__link {
  max-width: 150px;
  width: 100%;
  color: #1c1c1c;
  transition: 0.3s;
  :hover {
    color: #989898;
    transition: 0.3s;
  }
  :active {
    color: #1c1c1c;
    transition: 0.3s;
  }
  :visited {
    color: #1c1c1c;
    transition: 0.3s;
  }
}

.instagram {
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
  font-size: 2.5rem;
  font-weight: bold;
  @include media(s) {
    font-size: 1.6rem;
  }
}